@import "../base/main.css";

#menu {
    text-align: right;
    margin-right: 1%;
}

#menu div {
    display: inline;
}

#menu a {
    margin-left: 1ex;
}

#footer {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 3%;
    bottom: 0;
}
