@import "orange.css";

html, body {
    background-color: #f0f3ff;
}

h3.title { 
    background-color: #d2dff1;
}

h3.menu {
    background-color: #e2dff1;
}

.hover > div.glance, .hover > ul {
    background-color: #ddf;
}

